.container{
    max-width: 1200px;
    margin: 0 auto;
}

%bg{
    background-size: cover;
    width: 100%;
    height: 750px;
    background-position: center;
    background-attachment: fixed;
}

@for $i from 1 through 5 {
    .chapter#{$i}{
        @extend %bg;
        background-image: url(../images/#{$i}.png);
    }
}